[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
pillow = "*"
pngquant = "*"
cairosvg = "*"
mkdocs-ezlinks-plugin = "*"
mkdocs-github = "*"
mkdocs-no-3rd-party-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"
